* {
  margin: 0px;
  padding: 0px;
}


body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #32936F;
}

.home-pg {
  background: radial-gradient(circle, #1C6E8C, #2A7F62);
  margin-top: 0px;
}

.shows-pg {
  background: radial-gradient(circle, #1C6E8C, #2A7F62)
}
/* styles.css */

@font-face {
  font-family: 'YourCustomFont'; /* Choose a name for your font */
  src: url('/public/GasoekOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Apply the font to an element */
.custom-font {
  margin-bottom: 10px;
  display: block;
  font-size: 3rem;
  text-align: center;
  animation: fadeIn 1s ease-out;
  font-family: 'Gasoek One', sans-serif;
}

.custom-font-shows {
  font-family: 'Bebas Neue', sans-serif;
  color: aliceblue;
  
}







/* HomePage.css */
/* HomePage.css */
.hero-section {
  background-size: cover;
  background-position: center top;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  padding: 20px;
  background-image: url(/public/pics/bluePink.jpg);  /* Default image */
}

.video-card {
  margin-bottom: 0px;
  width: 30%;
  border: none;
}

.hero-section button {
  background-color: rgb(237, 102, 87);
  margin: 3px;
}

.video-home {
  display: flex;
  justify-content: space-around;
  /* background: radial-gradient(circle, #1C6E8C, #2A7F62); */
}

.img {
  max-width: 20vh;
}

/* Add this to your existing styles or create a new CSS file */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* styles.css */

@keyframes moveGradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}


.hero-text-fade-in {
  animation: fadeIn 2s ease-out; /* Adjust the duration and easing as needed */
}

.images-container {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.images-container img {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.about-pg {
  background: radial-gradient(circle, #FABC2A, #5CA4A9);
  margin-top: -3%;
}

.cont-pg {
  margin-top: -3%;
}

.blob-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  z-index: -1;
}

.blob {
  border-radius: 60% 40% 30% 70% / 100% 85% 92% 74%;
  background: linear-gradient(47deg, rgba(255, 88, 139, 1) 21%, rgb(0 164 173) 67%, rgba(118, 74, 166, 1) 81%);
  width: 400px;
  height: 400px;
  box-shadow: inset 50px 50px 17px 0px #ff588b, inset 100px 100px 17px 0px #66319f;
  opacity: 0.5;
  filter: blur(40px); 
  z-index: -1;
  animation: animate 15s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite alternate forwards;
}

.bio {
  background-color: #5CA4A9;
}

.custom-shape-divider-bottom-1706069005 {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1706069005 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 318px;
}

.custom-shape-divider-bottom-1706069005 .shape-fill {
  fill: #5CA4A9;
}

.shape-fill {
  fill:#2A7F62
}


@keyframes animate {
  0% {
    transform: translate(40%, -25%);
    border-radius: 60% 40% 30% 70% / 100% 85% 92% 74%;
  }
  50% {
    transform: translate(0%, 13%);
    border-radius: 20% 71% 47% 70% / 81% 15% 22% 54%;
    rotate: 41deg;
    scale: 1.15;
  }
  100% {
    transform: translate(-45%, 39%);
    border-radius: 100% 75% 92% 74% / 60% 80% 30% 70%;
    rotate: -60deg;
    scale: 1.05;
  }
}



@media (max-width: 768px) {
  .images-container {
    flex-direction: row;
    align-items: center;
  }

  .images-container img {
    width: 60%;
    height: 60%;
  }

  .custom-font{
    font-size: 2.5rem;
  }

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media (max-width: 600px) {
  .hero-section {
    max-height: 100%;
    height: 300px;
    margin-top: -20%;
    display: flex;
    flex-direction: column;
    background-size: contain;
    background-image: url(/public/pics/bluePink.jpg);  /* Mobile image */
  }

  .home-pg {
    margin-top: -20%;
  }

  .about-pg {
    margin-top: -15%;
  }

  .cont-pg {
    margin-top: -12%;
  }

  .hero-text {
    font-size: 14px;
    backdrop-filter: blur(1px); /* Add backdrop filter for background blur */
    background-color: rgba(64, 64, 64, 0.148);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
  }

  .blob-container {
    overflow: hidden;
    height: 100vh;
    width: auto;
  }
  

  .hero-text h4 {
    color: white;
  }

  .logodes {
    display: none;
  }

  .hero-section button  {
    display: none;
  }

  .video-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #333; */
    margin-top: 20px;
    width: 100%;
  }

  .video-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}


